Belegnummer
{transType|P|NL} {units|PL|NL} ISHARES ATX UCITS ETF ({isin|Pc|Nc|N}) um {quotation|NL|P} {cin|NL|N}
Instrument: Trackers/ETF
Auftragserstellung : 14/05/2020 09:56:14 CET
Auftragstyp : Limit (22,50 EUR)
Gültigkeit : Day
Ausführungsdatum und -zeit : {datetime|SL|PL} 10:01:11 CET 
Ausführungsort : XETRA
Bruttobetrag 10.500,00 EUR
Transaktionskosten {tc1|P|SL} EUR
Stempelsteuer (Schweiz) {tt1|SL|PL|O} EUR
{ta|NL|P} {cac|NL|N}
[Lastschrift|Gutschrift] 10.555,25 EUR Valutadatum 18/05/2020
[END]
templatePurpose=Kauf und Verkauf
transType=ACCUMULATE|Kauf
transType=REDUCE|Verkauf
dateFormat=dd/MM/yyyy
overRuleSeparators=All<.|,>

