Typ: Foreign stocks
{transType|P|N} (?:Record|Kapitalrückerstattung)  17/12/2020
{units|P|NL} Vanguard FTSE Japan ETF {quotation|NL|N} (?:[A-Z]{3}$)
Bruttobetrag 157,88 USD (139,71 CHF)
Verwendete Wechselkurse 1 USD = 0,9214 {cin|N|SL|O}
Diese Mitteilung dient ausschliesslich zu Informationszwecken. Sie ist und bleibt kein offizieller Beleg
für die Zuteilung oder Rückerstattung der erhobenen Steuer.
Nettoguthaben {ta|SL|P} {cac|SL|N} Datum  {datetime|SL|N}
Wertschriftenkonto:88/123456 Wertpapier:{isin|Pc|N} Belegnr.: CPN / 123456
[END]
templatePurpose=Dividende / Gutschrift
transType=DIVIDEND|GUTSCHRIFT
dateFormat=dd/MM/yyyy
overRuleSeparators=All<.|,>
otherFlagOptions=CASH_SECURITY_CURRENCY_MISMATCH_BUT_EXCHANGE_RATE

