Währung: {cac|P|N}
Konto/Konten: 88888/123456CHF
Stock
Instrument iShares J.P.Morgan $ EM Bond CHF Symbol {symbol|P|N}
Hedged UCITS ETF
K/V {transType|P|SL} Open/Close ToOpen
Exchange Description SIX Swiss Exchange (ETFs) Börsenname oder OTC Exchange
Anzahl {units|P|N} Preis {quotation|P|N}
Valutadatum 05-Dec-2016 Trade Value -10,000
TradeTime {datetime|P|N} Trade-ID 1234567891
Order-ID 123456789 Spread Costs 0.00
Ordertyp Not Available Total trading costs -50
Buchungsbetrag-ID Handelsdatum Valutadatum Anzahl Umrechnungskurs Currency conversion cost Gebuchter Betrag
Commission 4523005266 01-Dec-2016 05-Dec-2016 -22.37 1.0000 0.00 {tc1|SL|N}
Share Amount 4523558817 01-Dec-2016 05-Dec-2016 -10,000.00 1.0000 0.00 -10,000.00
Swiss Stamp Duty 4524956687 01-Dec-2016 05-Dec-2016 -27.96 1.0000 0.00 {tt1|SL|N}
Foreign
All bookings
Nettobetrag 0.00 {ta|SL|N}
Trade Details Kunde:CT123456 2
Erstellt um:01-May-2018 5:59:26 AM (UTC) Konto/Konten:12345/123456CHF
[END]
templatePurpose=Kauf und Verkauf Wertpapier
transType=ACCUMULATE|Bought
transType=REDUCE|Sold
dateFormat=dd-MMM-yyyy hh:mm:ss a