datetime=Datum
order=Auftrag #
transType=Transaktionen
symbol=Symbol
sn=Name
isin=ISIN
units=Anzahl
quotation=Stückpreis
tt1=Kosten
ac=Aufgelaufene Zinsen
ta=Nettobetrag
cac=Währung
[END]
templatePurpose=Transaktions Export
templateId=1
ignoreTaxOnDivInt=Capital Gain
transType=WITHDRAWAL|Auszahlung
transType=WITHDRAWAL|Forex-Belastung
transType=WITHDRAWAL|Fx-Belastung Comp.
transType=DEPOSIT|Vergütung
transType=DEPOSIT|Forex-Gutschrift
transType=DEPOSIT|Fx-Gutschrift Comp.
transType=INTEREST_CASHACCOUNT|Zins
transType=FEE|Depotgebühren
transType=ACCUMULATE|Kauf
transType=REDUCE|Verkauf
transType=DIVIDEND|Dividende
transType=DIVIDEND|Capital Gain
dateFormat=dd-MM-yyyy HH:mm:ss
delimiterField=;
bond=quotation|%
overRuleSeparators=All<’'|.>