datetime=Date
order=Order #
transType=Transaction
symbol=Symbol
sn=Name
isin=ISIN
units=Quantity
quotation=Unit price
tt1=Costs
ac=Accrued interest
ta=Net Amount
cac=Currency
[END]
templatePurpose=Transaction export (english)
templateId=2
transType=WITHDRAWAL|Paying out
transType=WITHDRAWAL|Fx debit comp.
transType=WITHDRAWAL|Forex debit
transType=DEPOSIT|Payment
transType=DEPOSIT|Forex credit
transType=DEPOSIT|Fx credit comp.
transType=INTEREST_CASHACCOUNT|Interests
transType=FEE|Custody Fees
transType=ACCUMULATE|Buy
transType=REDUCE|Sell
transType=DIVIDEND|Dividend
dateFormat=dd.MM.yyyy HH:mm
delimiterField=;
bond=quotation|%
overRuleSeparators=All<’'|.>