Gland,  {datetime|P|N}
{transType|P|N} Unsere Referenz: 66666666
Im Hinblick auf folgenden Titel:
Titel
Bezeichnung Anzahl
iSh USD CrpBnd USD D ISIN: {isin|P} 200
NKN: 1613957
haben wir Ihrem Konto den folgenden Betrag gutgeschrieben: 
Kontonummer 88888888
Ausführungsdatum 13.03.2025
Valutadatum 26.03.2025
Anzahl {units|P|N}
Dividende pro Aktie USD {quotation|SL}
Bezeichnung Währung Referenzwährung
Betrag {cac|SL} CHF 225.86
Verrechnungssteuer 35% (CH) CHF {tt1|SL|N|O}
Total USD {ta|SL} CHF 225.86
Wechselkurs USD / CHF : 0.88366
[END]
templatePurpose=Dividende mit Referenzwährung
transType=DIVIDEND|Dividende
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>