Gland, {datetime|P|N}
{transType|P|N} Unsere Referenz: 12345678 
Im Hinblick auf folgenden Titel:
Titel
ISHARES $ CORP BND ISIN: {isin|P} 490
NKN: 1613957
Wir haben Ihrem Konto den folgenden Betrag gutgeschrieben: 
Kontonummer 000000
Ausführungsdatum 21.05.2014
Valutadatum 11.06.2014
Anzahl {units|P|N}
Kapitalgewinn {quotation|P} CHF
Betrag {cac|SL|PL} 416.11
Total CHF {ta|SL|N}
[END]
templatePurpose=Kapitalgewinn
transType=DIVIDEND|Kapitalgewinn
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>
otherFlagOptions=NO_TAX_ON_DIVIDEND_INTEREST