Gland, {datetime|P|N}
{transType|P|N} Unsere Referenz: 12345678 
Im Hinblick auf folgenden Titel:
Titel
Original Original Anzahl
ISIN: {isin|P}
ISHARES $ CORP BND 490
NKN: 1613957
Wir haben Ihrem Konto den folgenden Betrag gutgeschrieben: 
Kontonummer 12345678
Ausführungsdatum 26.02.2015
Valutadatum 19.03.2015
Anzahl
{units|PL|P|N}
Dividende
{quotation|PL|P} USD
Betrag
USD
430.17
{cac|P|N|NL}
Total  {ta|SL|N}
[END]
templatePurpose=Dividende Zeilenumbruch
transType=DIVIDEND|Dividende
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>