KUNDE : 000'000 HANS MUSTER Gland, {datetime|P|N}
{transType|P|NL} REF : CN/12345678
BEZEICHNUNG EX TAG VALOREN NR
Xmtch on (CH 29.03.2010 1'985'280
{isin|NL|P|N}
ANZAHL DIVIDENDE BETRAG
-{units|Pc|Nc|PL|R}-  {quotation} {cac}            
Verrechnungssteuer 35.00 % CHF {tt1|SL|Nc|O}-
----------------------
ZU IHREN GUNSTEN CHF {ta|SL|N}
======================
Valuta 01.04.2010
[END]
templatePurpose=Dividende alt (Wiederhlolung units/...)
transType=DIVIDEND|Dividende
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>

