date=Datum
time=Uhrzeit
sn=Produkt
isin=ISIN
units=Anzahl
quotation=Kurs
cin=cin
cex=Wechselkurs
tc1=Gebühr
cct=cct
ta=Gesamt
cac=cac
order=Order-ID
[END]
templatePurpose=Kauf und Verkauf Aktien
templateId=1
transType=ACCUMULATE|Buy
transType=REDUCE|Sell
dateFormat=dd.MM.yyyy
timeFormat=H:mm
delimiterField=;
