Corporate Action Detail, {cac|P}
Berichtszeitraum
28-Jan-2026 bis 28-Jan-2026
Corporate Action
Event {transType|P|N} Geeignete Menge {units|P}
iShares JP Morgan EM Local Govt Bond
Description Dividende pro Aktie {quotation|P} {cin|SL}
UCITS ETF
Symbol IEML:xswx Umrechnungskurs {cex|P}
ISIN {isin|P} Kapitalmaßnahmen - Bardividenden {ta|P|N} CHF
Kapitalmaßnahmen -
88888888888 15-Jan-2026 16-Jan-2026 - {datetime|PL|N} (?:\d+\.\d+) 417.49
[END]
templatePurpose=Zins oder Dividende
transType=DIVIDEND|Bardividende
dateFormat=dd-MMM-yyyy
overRuleSeparators=All<''|.>
otherFlagOptions=CASH_SECURITY_CURRENCY_MISMATCH_BUT_EXCHANGE_RATE