DATUM DER TRANSAKTION : {datetime|P|N} BOERSE : ELEKTRONISCHE BOERSE SCHWEIZ
IHR(E) {transType|P|SL} EUR 5.000
VALOREN-NR. 000,715,243 4.125 % OBL EUR 1999 - 30.4.2009 (1)
ISIN  {isin|P} LANDWIRTSCHAFTLICHE RENTENBANK
{cin|P|PL} {units|N|PL} ZUM KURS VON {quotation|P|PL} {per|PL} EUR 5.049,50
+ ANGEFALLENE ZINSEN WAEHREND 219 TAGE EUR {ac|SL|N}
D.H. VOM 30.04.2006 BIS AM 05.12.2006 366 / 366
BRUTTOBETRAG EUR 5.173,25
COURTAGE SCHWEIZ EUR {tc1|SL|N}
EIDG. STEMPEL EUR {tt1|SL|N}
ZUM KURS VON {cex|P|N|O}
BETRAG, DEN WIR DEM KONTO BELASTEN {cac|P|SL} {ta|SL|N}
[END]
templatePurpose=Kassakauf Yellowtrade Anleihe
transType=ACCUMULATE|KASSAKAUF
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>