IHR(E) {transType|P|N}
2 ACT GBP 0.25 VALOREN-NR.: 001,102,657
GLAXOSMITHKLINE PLC ISIN : {isin|P|N|NL}
DATUM DER TRANSAKTION : {datetime|P|N}
BOERSE : XETRA
{units|R|P|PL} ZUM KURS VON  {quotation}
BRUTTOBETRAG {cin|P|SL} 44,80
COURTAGE SCHWEIZ EUR {tc1|SL|N}
SEPARATE AUSFUEHRUNGSGEBUEHR CHF {tc2|SL|N|O}
EIDG. STEMPEL EUR {tt1|SL|N}
ZU KURS VON {cex|P|N|O}
BETRAG, DEN WIR DEM KONTO (?:GUTSCHREIBEN|BELASTEN) {cac|P|SL} {ta|SL|N}
EUR E 4444.44.44 MUSTER HANS
VALUTA : 19.02.2007
[END]
templatePurpose=Kauf und Verkauf Yellowtrade Aktien/ETF
transType=ACCUMULATE|KAUF,KASSAKAUF
transType=REDUCE|VERKAUF,KASSAVERKAUF
dateFormat=dd.MM.yyyy
overRuleSeparators=All<.|,>