ABRECHNUNG {transType|P|N}
SEITE 1
DATUM DER TRANSAKTION : {datetime|Pc|N} BOERSE : XETRA
IHR(E) KASSAVERKAUF 1.450
VALOREN-NR. 000,485,864 ACT "A" EUR 2
ISIN {isin|P} ALCATEL
{units|P|N|R} ZUM KURS VON {quotation|P|N}
BRUTTOBETRAG EUR 10.111,00
COURTAGE SCHWEIZ EUR {tc1|SL|N}
BOERSE GEBUEHR EUR {tc2|SL|N|O}
EIDG. STEMPEL EUR {tt1|SL|N}
BETRAG, DEN WIR DEM KONTO GUTSCHREIBEN {cac|SL|P} {ta|SL|N}
EUR E 8888.88.88 MUSTER HANS
VALUTA : 27.10.2006
[END]
templatePurpose=Kassaverkauf
transType=REDUCE|BOERSENVERKAUF
dateFormat=dd.MM.yyyy
overRuleSeparators=All<.|,>