Bern, 25.02.2021
{transType|PL|P|N}
Our reference: 220541530 
We have performed the following transaction on your account:
Security
Original Original quantity
ISIN: {isin|P|N}
HIRSLAND 1.625% 25.02.2021 10'000
NKN: 26969877
Custodian: Swissquote Bank Ltd
Movement Ratio Quantity
HIRSLAND 1.625% 25.02.2021 ISIN: CH0269698772
- -10'000
NKN: 26969877
Custodian: Swissquote Bank Ltd
We have credited the following amount to your account:
Account number 12345678
Execution date {datetime|P|N}
Value date 25.02.2021
Quantity {units|P|N}
Price {quotation|P|SL} {per|SL|N}
Amount CHF 10'000.00
Total {cac|P|SL} {ta|SL|N}
Please check this document and let us know within one month if there are any discrepancies.
[END]
templatePurpose=Redemption Bond
transType=REDUCE|Redemption
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>