IHR(E) {transType|P|N}
CHF 30.000 1.625 % OBL CHF 2014 - 15.10.2024 (1) VALOREN-NR.: 025,359,276
IMPLENIA AG, DIETLIKON ISIN : {isin|P|N|NL}
DATUM DER TRANSAKTION : {datetime|P|N|SL}
BOERSE : ELEKTRONISCHE BOERSE SCHWEIZ
{cin|P|PL|R} {units|PL|N} ZUM KURS VON {quotation|P|PL} {per|PL} CHF 1.000,00
+ ANGEFALLENE ZINSEN WAEHREND 12 TAGE CHF {ac|SL|N|O}
D.H. VOM 15.10.2014 BIS AM 27.10.2014 360 / 360
BRUTTOBETRAG CHF 29.401,25
COURTAGE SCHWEIZ CHF {tc1|SL|N}
SEPARATE AUSFUEHRUNGSGEBUEHR CHF {tc2|SL|N|O}
EIDG. STEMPEL CHF {tt1|SL|N|O}
BETRAG, DEN WIR DEM KONTO BELASTEN {cac|SL} {ta|SL|N}
[END]
templatePurpose=Kauf und Verkauf Yellowtrade Anleihe
transType=ACCUMULATE|KAUF,KASSAKAUF
transType=REDUCE|VERKAUF,KASSAVERKAUF
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>