Bern, {datetime|P|N}
{transType|PL|P} Unsere Referenz: 123456789 
Im Hinblick auf folgenden Titel:
Titel
Bezeichnung Anzahl
ISIN: {isin|P|N}
4 ALFA 13-18 5'000
Ausführungsdatum 16.01.2018
Valutadatum
Nominal {units|P|N}
Zins {quotation|P|SL} {per|N|SL}
Betrag {cin|P} 41.40
[Verrechnungssteuer|35%] CHF {tt1|SL|N|O}
Total {cac|P|SL} {ta|SL|N}
[END]
templatePurpose=Zins für Anleihen
transType=DIVIDEND|Zins
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>
otherFlagOptions=BOND_QUATION_CORRECTION
