{transType|P|N|NL}
[SEITE|3002]
WIR ERKENNEN SIE, EINGANG VORBEHALTEN, MIT FOLGENDEN TITELERTRAEGEN.
{units|P|PL} ACT GBP SVN VALOREN-NR. 1.102.657
GLAXOSMITHKLINE PLC ISIN {isin|P|N}
IM DEPOT: DEUTSCHE BK FRANKFU.
EX-DATUM : 10.05.2006
VERFALLSDATUM : 06.07.2006
COUPON : 3
EINHEITSPREIS TOTALBETRAEGE
ANGEKUENDIGT. ERTRAG  0,11 44,00
STEUERGUTHABEN 0,012225 {tt1|SL|N|O}
BRUTTOERTRAG GBP {quotation|SL} GBP 1,00
[STEUERGUTHABEN|STEUER] 00%  {tt1|SL|Nc|O}-
NETTOERTRAG 44,00
NETTOBETRAG {cin|P|NL} 44,00
DIESEN BETRAG SCHREIBEN WIR DEM KONTO GUT
R 0000.00.00 VALUTA : {datetime|PL} {cac|PL} {ta|PL|N}
KURS : {cex|SL|N|O}
STEUERRUECKFORDERUNG
STEUER.GUTHABENVERR. GBP 4,89
STEUERVERRECHNUNG CHF 10,95
[END]
templatePurpose=Ertrag Yellowtrade
transType=DIVIDEND|ERTRAGSABRECHNUNG
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>
