FOLGENDE {transType|P|N} WURDEN IHREM KONTO GUTGESCHRIEBEN, EINGANG
VORBEHALTEN.
{units|P|PL} ACT GBP 0.25 VALOREN-NR. 1.102.657
GLAXOSMITHKLINE PLC ISIN {isin|P|N}
IM DEPOT: DEUTSCHE BK FRANKFU.
VERFALLSDATUM : 04.01.2007 EX-DATUM : 01.11.2006 COUPON : 04.01.2007
ZINSSATZ / EINHEITSPREIS BETRAEGE
ANGEKUENDIGT. ERTRAG 0,12 48,00
STEUERGUTHABEN 0,013325 5,33
BRUTTOERTRAG {cin|P} {quotation|SL} GBP 53,33
[STEUER|STEUERGUTHABEN] {tt1|SL|N|O}
NETTOERTRAG 48,00
NETTOBETRAG GBP 48,00
DIESEN BETRAG SCHREIBEN WIR DEM KONTO GUT : R 8888.88.88 {cac|SL} {ta|N|SL}
VALUTA : {datetime|SL|N}
KURS : {cex|P|N|O}
STEUERRUECKFORDERUNG
STEUER.GUTHABENVERR. GBP 5,33
STEUERVERRECHNUNG CHF 12,60
[END]
templatePurpose=Wertpapierertrag
transType=DIVIDEND|WERTPAPIERERTRAEGE
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>