{transType|P|N}
Unsere Referenz: 130663278 
Im Hinblick auf folgenden Titel:
Titel
Bezeichnung Anzahl
ISIN: {isin|P|N}
UBSETF MSCI Switzerland CHF 195
NKN: 22627424
haben wir Ihrem Konto den folgenden Betrag gutgeschrieben:
Kontonummer 86961700
Ausführungsdatum 06.09.2017
Valutadatum {datetime|SL|N}
Anzahl {units|P|N}
Kapitalgewinn {quotation|P} CHF
Betrag CHF 11.70
Total {cac|SL} {ta|SL|N}
[END]
templatePurpose=Kapitalgewinn
transType=DIVIDEND|Kapitalgewinn
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>