Bern, 31.10.2017
{transType|PL|P|N}
Our reference: 133508877 
Regarding the following security:
Security
Description Quantity
ISIN: {isin|P|N}
iShares Global HY Corp Bnd CHF 350
NKN: 22134231
We have credited the following amount to your account:
Account number 12345678
Execution date {datetime|P|N}
Value date 31.10.2017
Quantity {units|P|N}
Dividend {quotation|P|SL} CHF
Amount CHF 1'000.03
Total {cac|P|SL} {ta|SL|N}
[END]
templatePurpose=Dividends for Stock/ETF in english
transType=DIVIDEND|Dividend
dateFormat=dd.MM.yyyy