FOLGENDE {transType|P|N} WURDEN IHREM KONTO GUTGESCHRIEBEN, EINGANG
VORBEHALTEN.
CHF {units|PL} 2 % OBL CHF 2013 - 9.6.2022 (1) VALOREN-NR. 22.853.145
HOLCIM LTD, RAPPERSWIL-JONA ISIN {isin|P|N}
IM DEPOT: SIX SIS AG.
VERFALLSDATUM : 09.06.2014 EX-DATUM : 04.06.2014 COUPON : 09.06.2014
ZINSSATZ : {quotation|P|SL} {per|N|SL}
ZINSSATZ / EINHEITSPREIS BETRAEGE
BRUTTOERTRAG CHF 100,00
STEUER 35 % {tt1|SL|N|O}
NETTOERTRAG 65,00
NETTOBETRAG {cac|P|SL} 65,00
DIESEN BETRAG SCHREIBEN WIR DEM KONTO GUT : R 8888.88.88 CHF {ta|SL|N}
VALUTA : {datetime|P|N}
STEUERRUECKFORDERUNG
STEUERABZUG CHF 35,00
DEPOTBANK BERN, DEN 10. JUNI 2014
[END]
templatePurpose=Zins für Anleihen
transType=DIVIDEND|WERTPAPIERERTRAEGE
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>
