Bern, 16.01.2018
{transType|PL|P|N} Premium
Unsere Referenz: 123456789 
Im Hinblick auf folgenden Titel:
Titel
Bezeichnung Anzahl
ISIN: {isin|P|N}
HOCHDORF CV 3.5% 30.03.2020 5'000
Ausführungsdatum {datetime|P|N}
Valutadatum
Anzahl {units|P|N}
Prämienanteil {quotation|P|SL} {per|N|SL}
Betrag {cin|P} 175.00
Wechselkurs {cex|P|N|O}
Total {cac|P|SL} {ta|SL|N}
[END]
templatePurpose=Option Premium
transType=DIVIDEND|Option
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>