Bern, 25.04.2018
{transType|PL|P|N}
Unsere Referenz: 145360471 
Im Hinblick auf folgenden Titel:
Titel
Bezeichnung Anzahl
ISIN: {isin|P|N}
iShares Global HY Corp Bnd CHF 350
NKN: 22134231
haben wir Ihrem Konto den folgenden Betrag gutgeschrieben:
Kontonummer 12345678
Ausführungsdatum {datetime|P|N}
Valutadatum 25.04.2018
Anzahl {units|P|N}
Dividende {quotation|P|SL}  CHF
Betrag CHF 1'000.31
[Quellensteuer|Verrechnungssteuer] 35% (CH) CHF {tt1|SL|N|O}
Total {cac|P|SL} {ta|SL|N}
[END]
templatePurpose=Dividende für Aktien/ETF
transType=DIVIDEND|Dividende
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>