Bern, 30.01.2018
{transType|PL|P|N}
Unsere Referenz: 123456789 
Im Hinblick auf folgenden Titel:
Titel
Bezeichnung Anzahl
ISIN: {isin|P|N}
Residual Debt 10.05% 10'627
NKN: 32105978
haben wir Ihrem Konto den folgenden Betrag gutgeschrieben:
Kontonummer 12345678
Ausführungsdatum {datetime|P|N}
Valutadatum 29.01.2018
Anzahl {units|P|N}
Preis {quotation|P|SL} {per|SL|N}
Betrag {cin|P} 41.40
Wechselkurs {cex|P|N|O}
Total {cac|P|SL} {ta|SL|N}
Bitte prüfen Sie dieses Dokument und benachrichtigen Sie uns bei Unstimmigkeiten innert Monatsfrist.
[END]
templatePurpose=Rückzahlung Anleihe
transType=REDUCE|Rückzahlung
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>