WIR ERKENNEN SIE, EINGANG VORBEHALTEN, MIT FOLGENDEN {transType|P|N} TITELN.
{cin|PL|P} {units|PL} 2 % NOTES CHF 2011 - 23.12.2015 (1) EMT VALOREN-NR 13.107.842
ENEL FINANCE INTERNATIONAL NV ISIN {isin|P|N}
BEI: SIX SIS AG.
VERFALLSDATUM 23.12.2015
RUECKZAHLUNGSPREIS  {quotation|P|SL} {per|SL|N}
RUECKZAHLUNG TOTALBETRAEGE
KAPITALRUECKZAHLUNG CHF 10 000,00
NETTOBETRAG CHF 10 000,00
DIESE TITEL WERDEN IHREM DEPOT ENTNOMMEN
DIESEN BETRAG SCHREIBEN WIR DEM KONTO GUT R 8888.88.88 {cac|SL} {ta|SL|N}
VALUTA : {datetime|P|N}
[END]
templatePurpose=Rückzahlung Anleihe
transType=REDUCE|RUECKZAHLBAREN
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>