Bern, 30.01.2018
{transType|PL|P|N}
Unsere Referenz: 123456789 
Wir haben folgende Transaktion auf Ihrem Konto vorgenommen:
Titel
Original Original Anzahl
ISIN: {isin|P|N}
2.375 REPOWER 10-22 {units|PL|N}
NKN: 10915272
Bewegung Ratio Anzahl
haben wir Ihrem Konto den folgenden Betrag gutgeschrieben:
Ausführungsdatum {datetime|P|N}
Anzahl {units|P|N}
Preis {quotation|P|SL} %
Total {cac|P|SL} {ta|SL|N}
[END]
templatePurpose=Rückkaufangebot
transType=REDUCE|Rückkaufangebot
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>

